

<h1> projet -licence 2 informatique  </h1>
<h1> gestion d'un camping  </h1>
<div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <img   class=" img"src="./assets/camping.png" alt="Image 1">
    </div>
    
    <div class="box">
      <!-- Contenu de la deuxième boîte -->
      <h2>Problématique :</h2>
      <p>
                  <br>
                  Le projet que nous entreprenons au cours du semestre 1
                   de notre licence 2 en informatique vise à développer un
                    système complet de gestion pour un camping, en utilisant
                     les technologies PHP et MySQL. Notre objectif principal est
                      de concevoir une application robuste et conviviale qui permettra à 
                      un gestionnaire de camping d'automatiser divers aspects de la gestion 
                      quotidienne, allant de la réservation des emplacements à la gestion des 
                      clients et des services disponibles.  </div>
  </div>
  <div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <h2>fonctionnalités  :</h2>
      <p>
        <br>
        Le système intégrera des fonctionnalités telles
         que la réservation en ligne, la visualisation
          des disponibilités, la gestion des factures, et 
          la tenue d'un registre des clients. En tirant parti
           de la puissance de PHP pour la logique côté serveur
            et de MySQL pour le stockage des données, nous nous
             efforcerons de garantir la stabilité, la sécurité et 
             l'efficacité du système. Ce projet offre une opportunité
              précieuse d'appliquer les concepts théoriques appris en cours, 
              tout en développant des compétences pratiques dans le domaine du 
              développement web et de la gestion de bases de données.

              <h2>Technologies Utilisées :</h2> <p>
                <br>
                Frontend : HTML, CSS, JavaScript, python .<br>
               
                Base de Données : Mysql pour stocker les informations.<br>
                <br>
                Lien vers le Code Source : 
                <a href="https://github.com/oliveur83/gestion_de_camping">Lien</a>
    </div>
    
    <div class="box">
      <img   class=" img"src="./assets/camping.png" alt="Image 1">
      <!-- Contenu de la deuxième boîte -->
      
    </div>
  </div>