body {
    font-family: Arial, sans-serif;
    background-color:  rgb(196, 228, 244);
    margin: 0;
    
    padding: 20px;
}
p{
    text-align: center;
    font-size: 70px;
}
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    font-size: 70px;
}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    font-size: 90px;
}


.formation {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formation h2 {
    color: #333;
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.formation p {
    color: #666;
    margin-bottom: 5px;
    font-size: 40px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .container img {
    margin: auto;
  }
  
.menu-image-round {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  .experience-container {
    text-align: center;
  }
  .experience {
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 400px;
    display: inline-block;
    vertical-align: top;
  }

  .experience h2 {
    color: #4CAF50;
    font-size: 24px;
  }

  .experience p {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
  }

  .icon {
    font-size: 40px;
    color: #4CAF50;
  }
  

