<html>
<body>
<h1> Bienvenue sur mon profil</h1>
      <div class="container">
      <img  src="./assets/photo_profil.jpg" alt="Image 1" class="menu-image-round">
    </div>
<h2>Présentaiton</h2>
<p> Quoi de mieux que de devenir développeur pour créer ou améliorer les actions <br>
    du quotidien grâce aux applications web intuitives et faciles à utiliser ? Je suis<br>
     un développeur passionné qui se consacre à transformer des idées en réalités <br>
     numériques pratiques. Avec un intérêt marqué pour les applications web et une <br>
     volonté constante d'améliorer l'expérience utilisateur, je m'engage à développer<br>
      des solutions innovantes qui simplifient la vie des utilisateurs. Toujours prêt <br>
      à relever de nouveaux défis, je suis motivé par l'opportunité de créer des <br>
      applications web exceptionnelles qui rendent le monde en ligne plus connecté <br> 
      et plus efficace.</p>

          <h1>Mes Formations</h1>
      
          <div class="formation">
              <h2>DUT génie électrique et informatique industrielle</h2>
              <p>Année: 2017 - 2019</p>
              <p>Nom de l'établissement: université de Toulon</p>
          </div>
      
          <div class="formation">
              <h2>Licence Informatique</h2>
              <p>Année: 2019 - 2022</p>
              <p>Nom de l'établissement: université de Toulon</p>
            
          </div>
      
          <div class="formation">
              <h2>Master Informatique développeur full stack </h2>
              <p>Année: 2022 - 2024</p>
              <p>Nom de l'établissement: université de Corte</p>
          </div>
          <h1>expérience profésionnel</h1>
          
  <div class="experience-container">
    <div class="experience">
      <span class="icon">📱♿</span>
      <h2>concours entraprenaria</h2>
      <p>chef de projet </p>
      <p>6mois-2020/2021</p>
      <p>Création d'une solution qui combine une application avec 
        la domotique, de sorte que lorsque nous appliquons notre
         solution à un logement quel que soit le handicap,
          il puisse devenir le plus autonome possible.</p>
    </div>

    <div class="experience">
      <span class="icon">⚡🦢</span>
      <h2>hackaton</h2>
      <p>chef de projet </p>
      <p>2jours-2022</p>
      <p>Hackathon en collaboration avec EDF, ayant pour but de
         créer une application web combinant un jeu de l'oie et 
         des voitures électriques, dans le but de permettre aux 
         utilisateurs de comprendre la gestion de l'électricité."</p>
    </div>

    <div class="experience">
      <span class="icon">🚬</span>
      <h2>concours innovation</h2>
      <p>chef de projet </p>
      <p>3 jours -2023</p>
      <p>Concours entrepreneuriat, l'idée du projet consiste à relier
         un boîtier à une application. Ce boîtier serait un distributeur 
         de cigarettes dans le but final d'aider les utilisateurs à arrêter 
         de fumer grâce à l'application.</p>
    </div>

    <div class="experience">
      <span class="icon">🏥</span>
      <h2>hopital saint anne des armée</h2>
      <p>stagiare</p>
      <p>2 mois- 2019</p>
      <p>Application web de type QCM pour un directeur en transfusion, avec 
        analyse des données</p>
    </div>
  </div>
      <h1>Mes compétence</h1>
          <div class="experience-container">
            <div class="experience">
              <h2>langages informatique </h2>
              <div class="podium">
                <div class="level level-1">python</div>
                <div class="level level-2">javascript</div>
                <div class="level level-3">php</div>
              </div>

              <p>
               autres maitrisé: html/css,SQL,typescrypt
              </p>
            </div>
        
            <div class="experience">
              <span class="icon">⚡🦢</span>
              <h2>framework et outil</h2>
              <p>
                
                
              </p>
              <div class="progress-container">
                <div class="label">angular</div>
                <div class="progress-bar" style="--progress: 4/5;"></div>
              </div>
              <div class="progress-container">
                <div class="label">vuejs</div>
                <div class="progress-bar" style="--progress: 3/5;"></div>
              </div>
              <div class="progress-container">
                <div class="label">react</div>
                <div class="progress-bar" style="--progress: 3/5;"></div>
              </div>
              <div class="progress-container">
                <div class="label">flutter</div>
                <div class="progress-bar" style="--progress: 3/5;"></div>
              </div>
              <div class="progress-container">
                <div class="label">github</div>
                <div class="progress-bar" style="--progress: 4/5;"></div>
              </div>
            </div>
        
            <div class="experience">
           
              <h2>langue</h2>
            <p>anglais parler -écris</p>

            </div>
        
            <div class="experience">
              <h2>Passion</h2>
              <div class="chart-container">
                <div class="pie-chart">
                  <div class="slice" style="--percentage: 50;"></div>
                  <div class="slice" style="--percentage: 10;"></div>
                  <div class="slice" style="--percentage: 40;"></div>
                </div>
                
                  <div class="color-box" style="--color: #3498db;"></div>
                  <p>  lecture
                </p>
               
                  <div class="color-box" style="--color: #e74c3c;"></div>
                  <p> projet informatique 
                </p>
                
                  <div class="color-box" style="--color: #2ecc71;"></div>
                  <p> sport
                </p>
              
              </div>
            </div>
          </div>


</body>
</html>