

<h1> tp -master 2 </h1>
<h1> utiiser de IA dans un jeu  </h1>
<div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <img   class=" img"src="./assets/L3chemin.png" alt="Image 1">
    </div>
    
    <div class="box">
      <!-- Contenu de la deuxième boîte -->
      <h2>Problématique :</h2>
      <p>
                  <br>
      Au cours de mon parcours académique, j'ai eu l'opportunité de
       développer un projet innovant qui combine l'utilisation d'algorithmes 
       de graphes et d'infographie pour offrir une représentation visuelle des
        plus courts chemins. Le projet a été réalisé en utilisant la bibliothèque
        Tkinter pour la représentation 2D et OpenGL pour une expérience immersive en 3D. </div>
  </div>
  <div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <h2>fonctionnalités  :</h2>
      <p>
        <br>
        L'application génère une représentation graphique des plus courts chemins 
        entre deux points donnés, en utilisant des algorithmes de graphes tels que
         Dijkstra ou A* pour calculer les trajets optimaux. Les coûts associés à 
         chaque chemin sont représentés par des couleurs distinctes, facilitant la
          compréhension visuelle des différences de performance entre les itinéraires.

          <h2>Technologies Utilisées :</h2> <p>
            <br>
            Technologies Utilisées :

            Tkinter : Pour la représentation 2D interactive.
            OpenGL : Pour la représentation 3D immersive.
            Algorithmes de graphes : Dijkstra, A*, etc.
            <br>
            Lien vers le Code Source : 
            <a href="https://github.com/ClemBazan/Shortest-Path-in-3D">Lien</a>
    </div>
    
    <div class="box">
      <img   class=" img"src="./assets/L3chemin.png" alt="emploie2">
      <!-- Contenu de la deuxième boîte -->
      
    </div>
  </div>