
.icon-label-button i {
  margin-right: 8px; /* Marge à droite de l'icône pour l'espace */
}
.arrow-icon {
  font-size: 50px;
  cursor: pointer;
  color :#ccc
}
.show-pre {
  margin-left: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.show-press-select {
  margin-left: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgba(0, 122, 204, 0.5);
  border-color: #68CDFE;
}
/* pourcode*/

.pourcode{
  width: 80%;
   float:left;
  
   background-color: #cc008b;
   height: calc(90vh);
 
   flex-direction: column;
   display: flex;
 }
 .reduced-height-image {
  height: 40px;
}
 .onglet {
  display: flex;
  justify-content: space-between;
  align-items: center;
 width: 100%;
  float: left;
  height: 7%;
  background-color: #252526;
  cursor: pointer;
}

.boutons {
  display: flex;
  
}
.icon_droite_onglet{
  color:#ccc;
  font-size: 40px;
  margin-left: 40px;
}
.image-container {
  margin-right: 10px; /* Ajustez la marge selon vos besoins */
  color:#5a7d2d
}

.button_onglet_select {
  height: 100px;
  width: 350px;
  font-size: 40px;
  background-color: #1E1E1E;
  color:#ccc;
  border:none;
  
}
.button_onglet_select .croix {
  visibility: visible;
} 
.button_onglet_no_select {
  height: 100px;
  width: 350px;
  font-size: 40px;
  background-color: rgb(45,45,45);
  color:#ccc;
  border: none;
  
}
.button_onglet_no_select:hover .croix {
  display: inline-block; 
}
.containerdev {
  position: relative;
  display: flex;
  height: 69%;
}
.num_code::-webkit-scrollbar {
  width: 0;  /* Rendre la barre de défilement invisible */
}
.num_code{
  float:left;
  width: 80px;
  flex-direction: column; 
  background-color: #1E1E1E;
  height:100%;
  overflow: auto;
  font-size: 41px;
  color:#ccc;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; 
  
}
.num_code_nb{
  margin-bottom: 14px;
}
.code {
  float: left;
  clear: both;
  height: 100%;
  width: 90%; /* Ajustez la largeur selon vos besoins */
  background-color: #1E1E1E;
  overflow: auto;
 
  font-size: 41px;
  color: #cccccc;
  
}
br {
  margin-bottom: 14px;
}
.minimap {
  height: 100%; /* Ajustez la hauteur selon vos besoins */
  width: 10%; /* Ajustez la largeur selon vos besoins */
  background-color: #1E1E1E; /* Couleur de fond de la minimap */
  position: sticky;
  top: 0;
  font-size: 0.6rem !important; 
  scrollbar-color: transparent transparent; 
   scrollbar-width: thin;
   overflow: auto;
}
/*terminal*/
.resizable {

  resize: vertical; /* permet la redimension verticale */
}

.terminal{
  resize: vertical;
  float:left;
  clear:both;
  flex:1;
  height: 17%;
  width: 100%;
  background-color: #1E1E1E;
  border-top:0.5px solid #414141;
}
.button-container_ter {
  display: flex;
  height: 150px;
}
.button_ter {
  margin-right: 10px;
  margin:50px;
  background-color: #1E1E1E;
  color:#ccc;
  font-size: 40px;
  border:none;
}
.button_ter_select {
  margin-right: 10px;
  margin:50px;
  background-color: #1E1E1E;
  color:#ccc;
  font-size: 40px;
  border:none;
  border-bottom: 2px solid #ffffff; 

 

}
.interface_ter{
  color:#ccc;
  font-size: 30px;
  height: 60%;
  overflow-y: scroll;
  overflow: auto;
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 8px;
   /* Ajoutez une bordure pour séparer les cellules */
}
/*bar bleu */
.bottom-header {
    clear:both;
  flex:1;
  width: 100%;
  height: 70px;
  background: #007acc;
}
ul.right {
  float: left;
  height: 100%;

  list-style: none; /* Supprime les puces de la liste */
  padding: 0; /* Assurez-vous qu'il n'y a pas de remplissage pour la liste */
}

ul.right li {
  display: inline-block;
  height: 100%;
  
  padding: 0;
margin-right: 1cm;
}
ul.right li i {
  color: #fff;
  height:100%;
  
 
}
.terminal_image_t{
  height: max-content;
width: 200px;
}
.terminal_image_g{
  height: max-content;
width: 200px;
}
.terminal_image_v{
  height: max-content;
  width: 113px;
}
ul.left {
  float: right;
}

ul.left li {
  display: inline-block;
  font-size: 12px;
  color: #ddd;
  margin: 0 9px;
}

/* ------------------------*/
/* python */
.variable { color: #9CDCFE  }
.string { color:#CE9178 }
.number { color:#B5CEA8  }
.print{color: #DCDC8B }
.key{color: #C586C0 }
.fonction{color:#DCDCAA}
.boolean{color:#007acc}
.import_key{color:#4EC9B0}
.import{color:#C086C0}
.def{color:#569CD6}
.comments{color:#B5CEA8}

/* php */
.variable_php { color: #68CDFE }
.string_php { color: #CE9178}
.number_php { color: #B5CEA8 }
.echo{color: #DCDC8B }
.key_php{color: #C586C0 }
.acolade{color:darkgoldenrod}
.fonction_php{color:#0b0bea}
/* javascript */
.tabulation {
  padding-left: 40px;
}
body {
  background-color: #1e1e1e;
  
}

.croix{
 visibility: hidden;
  margin-left: 30px;
}
button:hover .croix {
  visibility: visible;
  /* Ajoutez d'autres styles au survol si nécessaire */
}
.logo img {
  width: 17px;
}
.imgpro{ width: 80%;
  height: 15%;}

i.fab.fa-python {
  color: #68CDFE;
}
i.fab.fa-php {
  color: #fe68dd;
}
i.fab.fa-js {
  color: #bffe68;
}

.bottom-header .right li i {
  font-size: 50px;

/* ou toute autre valeur souhaitée */
}
.bottom-header .left li  {
  font-size: 50px; /* ou toute autre valeur souhaitée */
}


.bouton_bleu{
  color:#ccc;
  background-color: #0E639C;
  height: auto;
  font-size: 40px;
  width: 90%;
}