<html>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <body>

    <!-- file edit  -->
    <div class="header">
      <ul class="header-menu">
        <img src="./assets/visual.png" alt="Image" />
      </ul>
      <div class="center_onglet">
        <i
          class="fas fa-arrow-left arrow-icon"
          (click)="changerOngletFleche('left')"
        ></i>
        <i
          class="fas fa-arrow-right arrow-icon"
          (click)="changerOngletFleche('right')"
        ></i>
        <button class="icon-label-button">
          <i class="fas fa-search"></i>
          <span style="margin-left: 8px">Portfolio</span>
          <div class="search_h">
            Recherche portfolio --python.py - Portfolio - Visual Studio Code
          </div>
        </button>
      </div>

      <div class="header-app-icons">
        <ul>
          <li>
            <img
              class="header_img"
              src="./assets/header/case1.png"
              alt="Image"
            />
            <span class="header_droit"
              >Basculer la barre latéral primaire (Ctrl+B)</span
            >
          </li>
          <li>
            <img
              class="header_img"
              src="./assets/header/case2.png"
              alt="Image"
            />
            <span class="header_droit"
              >Activer/désactiver le panneau (Ctrl+j)</span
            >
          </li>
          <li>
            <img
              class="header_img"
              src="./assets/header/case3.png"
              alt="Image"
            />
            <span class="header_droit"
              >Basculer la barre latérale secondaire(Ctrl+Alt+B)</span
            >
          </li>
          <li>
            <img
              class="header_img"
              src="./assets/header/case.png"
              alt="Image"
            />
            <span class="header_droit">Personnaliser la dispostion...</span>
          </li>
          <li>
            <img
              class="header_img"
              src="./assets/header/case4.png"
              alt="Image"
            />
          </li>
          <li>
            <img
              class="header_img"
              src="./assets/header/case5.png"
              alt="Image"
            />
          </li>
          <li>
            <img
              class="header_img"
              src="./assets/header/case6.png"
              alt="Image"
            />
          </li>
        </ul>
      </div>
    </div>
    <!-- collone gauche icon-->
    <div class="side-header">
      {{ongletSelectionne}}{{fichierSelectionne}}toto
      <ul class="side-header-menu">
        <li>
          <img
            (click)="sied_h('file')"
            class="search-image"
            src="./assets/side_header/file.png"
            alt="Image"
          />
        </li>
        <li>
          <img
            (click)="sied_h('copy')"
            class="search-image"
            src="./assets/side_header/copy.png"
            alt="Image"
          />

          <span class="tooltiptext">Explorateur (Ctrl+Maj+E)</span>
        </li>
        <li>
          <img
            (click)="sied_h('search')"
            class="search-image"
            src="./assets/side_header/search.png"
            alt="Image"
          />
          <span class="tooltiptext">Recherche (Ctrl+Maj+F)</span>
        </li>
        <li>
          <img
            (click)="sied_h('play')"
            class="search-image"
            src="./assets/side_header/play.png"
            alt="Image"
          />
          <span class="tooltiptext">Exécuter et déboguer</span>
        </li>
        <li>
          <img
            (click)="sied_h('extension')"
            class="search-image"
            src="./assets/side_header/extension.png"
            alt="Image"
          />

          <span class="tooltiptext">Extension (Ctrl+Maj+X)</span>
        </li>
        <li>
          <img
            (click)="sied_h('postman')"
            class="search-image"
            src="./assets/side_header/postman.png"
            alt="Image"
          />

          <span class="tooltiptext">Postman </span>
        </li>
        <li>
          <img
            (click)="sied_h('check')"
            class="search-image"
            src="./assets/side_header/test.png"
            alt="Image"
          />

          <span class="tooltiptext">Test</span>
        </li>
        <li>
          <img
            (click)="sied_h('database')"
            class="search-image"
            src="./assets/side_header/database.png"
            alt="Image"
          />

          <span class="tooltiptext">Mysql</span>
        </li>
        <li>
          <img
            (click)="sied_h('spock')"
            class="search-image"
            src="./assets/side_header/spoke.png"
            alt="Image"
          />

          <span class="tooltiptext">Spockee</span>
        </li>
      </ul>
      <ul class="side-header-menu_d">
        <li>
          <img
            (click)="sied_h('user')"
            class="search-image"
            src="./assets/side_header/user.png"
            alt="Image"
          />

          <span class="tooltiptext">Accounts</span>
        </li>
        <li>
          <img
            (click)="sied_h('cog')"
            class="search-image"
            src="./assets/side_header/cog.png"
            alt="Image"
          />

          <span class="tooltiptext">Manage</span>
        </li>
      </ul>
    </div>
    <!-- collone gauche texte -->
    <div class="menu-option" *ngIf="side_h_var === 'copy' && side_h_var_vi">
      <h5>EXPLORATEUR<i class="fas fa-ellipsis-h icon_droite_onglet"></i></h5>
      <div class="menu-drop">
        <div class="box-click">
          <i class="fa fa-chevron-down" (click)="ouvreeditors()"></i>
          <span>PORTFORLIO</span>
          <div class="box-click2">
            <ul *ngIf="ongletSelectionne === 'python' && ouvreeditorla == true">
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'profil'"
                (click)="changerfichier('profil')"
              >
                <i class="fab fa-python"></i> <span>profil.py</span>
              </li>
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'contact'"
                (click)="changerfichier('contact')"
              >
                <i class="fab fa-python"></i> <span> contact.py </span>
              </li>
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'projet'"
                (click)="changerfichier('projet')"
              >
                <i class="fab fa-python"></i> <span> projet.py </span>
              </li>
            </ul>
            <ul *ngIf="ongletSelectionne === 'php' && ouvreeditorla == true">
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'profil'"
                (click)="changerfichier('profil')"
              >
                <i class="fab fa-php"></i> <span>profil.php</span>
              </li>
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'contact'"
                (click)="changerfichier('contact')"
              >
                <i class="fab fa-php"></i> <span> contact.php </span>
              </li>
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'projet'"
                (click)="changerfichier('projet')"
              >
                <i class="fab fa-php"></i> <span> projet.php </span>
              </li>
            </ul>
            <ul
              *ngIf="
                ongletSelectionne === 'javascript' && ouvreeditorla == true
              "
            >
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'profil'"
                (click)="changerfichier('profil')"
              >
                <i class="fab fa-js"></i> <span>profil.js</span>
              </li>
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'contact'"
                (click)="changerfichier('contact')"
              >
                <i class="fab fa-js"></i> <span> contact.js </span>
              </li>
              <li
                class="show-pre"
                [class.show-press-select]="fichierSelectionne === 'projet'"
                (click)="changerfichier('projet')"
              >
                <i class="fab fa-js"></i> <span> projet.js </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div
      class="menu-option"
      *ngIf="side_h_var === 'extension' && side_h_var_vi"
    >
      <h5>extension compétence</h5>
      <div class="menu-drop">
        <div class="box-click">
          <i class="fa fa-chevron-down" (click)="ouvreeditors()"></i>
          <span>installé</span>
          <div class="box-click2">
            <ul>
              <li>
                <P> angular langage</P>
                <P> framework web </P>
                <P> angular</P>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-drop">
        <div class="box-click">
          <i class="fa fa-chevron-down" (click)="ouvreeditors()"></i>
          <span>recommandation</span>
          <div class="box-click2">
            <ul>
              <P> angular langage</P>
              <P> framework web </P>
              <P> angular</P>
            </ul>
          </div>
        </div>
      </div>
      <li
        class="header-menu-link"
        *ngFor="let menuItem of menuItems"
        (click)="toggleSubMenu(menuItem)"
      >
        {{ menuItem.label }}
        <ul class="sub-menu" *ngIf="menuItem.isSubMenuVisible">
          <li
            class="sub-menu-label"
            *ngFor="let subItem of menuItem.subMenuItems"
            (click)="submenu(subItem.label)"
          >
            {{ subItem.label }}
          </li>
        </ul>
      </li>
    </div>

    <div class="menu-option" *ngIf="side_h_var === 'search' && side_h_var_vi">
      <h5>partage ton code</h5>

      <a
        class="aref"
        href="https://github.com/oliveur83"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="imgpro" src="./assets/qrgit.png" alt="Image" />
        GitHub
      </a>
      <br />
      <a
        class="aref"
        href="https://www.linkedin.com/in/tom-pascal-olivier/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="imgpro" src="./assets/qrlink.png" alt="Image" />
        LinkedIn
      </a>
    </div>
    <div class="menu-option" *ngIf="side_h_var === 'play' && side_h_var_vi">
      <div class="menu-drop">
        <div class="box-click">
          <i class="fa fa-chevron-down" (click)="ouvreeditors()"></i>
          <span>Exécuter</span>
          <div class="box-click2">
            <ul>
              <li>
                <P> angular langage</P>
                <P> framework web </P>
                <P> angular</P>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-drop">
        <div class="box-click">
          <i class="fa fa-chevron-down" (click)="ouvreeditors()"></i>
          <span>Points D'arrèt</span>
          <div class="box-click2">
            <ul>
              <li>
                <P> angular langage</P>
                <P> framework web </P>
                <P> angular</P>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-option" *ngIf="side_h_var === 'cog' && side_h_var_vi">
      <h5>cog</h5>
    </div>
    <div class="menu-option" *ngIf="side_h_var === 'postman' && side_h_var_vi">
      <h5>post</h5>
    </div>
    <div class="menu-option" *ngIf="side_h_var === 'spock' && side_h_var_vi">
      <h5>spock</h5>
    </div>
    <div class="menu-option" *ngIf="side_h_var === 'user' && side_h_var_vi">
      <h5>user</h5>
    </div>
    <div class="menu-option" *ngIf="side_h_var === 'database' && side_h_var_vi">
      <h5>database</h5>
      <div class="menu-drop">
        <div class="box-click">
          <i class="fa fa-chevron-down" (click)="ouvreeditors()"></i>
          <span>Connection</span>
          <div class="box-click2">
            <ul>
              <li>
                <P> angular langage</P>
                <button class="bouton_bleu">Add Connexion</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-option" *ngIf="side_h_var === 'check' && side_h_var_vi">
      <h5>
        Test introuvables dans cet espace de travail.<br />
        Configure a test framework to see your tests header
        <button class="bouton_bleu">Configure Python Test</button><br />
        <button class="bouton_bleu">
          installer des extensions de test suplémentaire..
        </button>
      </h5>
    </div>
    <div class="pourcode">
    
      <div class="onglet">
        <div class="boutons">
          <button
            [ngClass]="{
              button_onglet_select: ongletSelectionne === 'python',
              button_onglet_no_select: ongletSelectionne !== 'python'
            }"
            (click)="changerOnglet('python')"
          >
            <i class="fab fa-python"></i> python.py
            <i class="fa fa-times croix"></i>
          </button>
          <button
            [ngClass]="{
              button_onglet_select: ongletSelectionne === 'php',
              button_onglet_no_select: ongletSelectionne !== 'php'
            }"
            (click)="changerOnglet('php')"
          >
            <i class="fab fa-php"></i> php.php <i class="fa fa-times croix"></i>
          </button>
          <button
            [ngClass]="{
              button_onglet_select: ongletSelectionne === 'javascript',
              button_onglet_no_select: ongletSelectionne !== 'javascript'
            }"
            (click)="changerOnglet('javascript')"
          >
            <i class="fab fa-js"></i> javascript.js
            <i class="fa fa-times croix"></i>
          </button>
        </div>

        <div class="image-container">
          <img
            class="reduced-height-image"
            *ngIf="
              ongletSelectionne === 'python' && fichierSelectionne === 'projet'
            "
            src="./assets/exec.png"
            (click)="exectkinter()"
          />
          <i class="fas fa-edit icon_droite_onglet"></i>
          <i class="fas fa-print icon_droite_onglet"></i>
          <i class="fas fa-columns icon_droite_onglet"></i>
          <i class="fas fa-ellipsis-h icon_droite_onglet"></i>
        </div>
      </div>
      <div
        class="containerdev"
        *ngIf="
          ongletSelectionne === 'python' && fichierSelectionne === 'profil'
        "
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
        <div  class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>
        </div>
        <div class="minimap" id="minimap"></div>
      </div>
      <div
        class="containerdev"
        *ngIf="
          ongletSelectionne === 'python' && fichierSelectionne === 'contact'
        "
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
   
        <div class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>
        </div>
        <div class="minimap" id="minimap"></div>
      </div>
      <div
        class="containerdev"
        *ngIf="
          ongletSelectionne === 'python' && fichierSelectionne === 'projet'
        "
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
        <div class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>
        
        </div>
        <div class="minimap" id="minimap"></div>
      </div>

      <div
        class="containerdev"
        *ngIf="ongletSelectionne === 'php' && fichierSelectionne === 'profil'"
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
        <div class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>
        </div>
        <div class="minimap" id="minimap"></div>
      </div>
      <div
        class="containerdev"
        *ngIf="ongletSelectionne === 'php' && fichierSelectionne === 'contact'"
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
        <div class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>
        </div>
        <div class="minimap" id="minimap"></div>
      </div>
      <div
        class="containerdev"
        *ngIf="ongletSelectionne === 'php' && fichierSelectionne === 'projet'"
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
        <div class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>
        </div>
        <div class="minimap" id="minimap"></div>
      </div>
      <div
        class="containerdev"
        *ngIf="
          ongletSelectionne === 'javascript' && fichierSelectionne === 'profil'
        "
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
        <div class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>

        </div>
        <div class="minimap" id="minimap"></div>
      </div>
      <div
        class="containerdev"
        *ngIf="
          ongletSelectionne === 'javascript' && fichierSelectionne === 'contact'
        "
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
        <div class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>
        </div>
        <div class="minimap" id="minimap"></div>
      </div>
      <div
        class="containerdev"
        *ngIf="
          ongletSelectionne === 'javascript' && fichierSelectionne === 'projet'
        "
      >
        <div class="num_code">
          <div class="num_code_nb" *ngFor="let lineNumber of lineNumbers">
            {{ lineNumber }}
          </div>
        </div>
        <div class="code" id="code" (scroll)="syncMinimap($event)">
          <div [innerHTML]="html_java_pro"></div>
         
        </div>
        <div class="minimap" id="minimap"></div>
      </div>
      <div
        class="terminal resizable"
        id="terminal"
        (mousedown)="onMouseDown($event)"
        (document:mousemove)="onMouseMove($event)"
        (document:mouseup)="onMouseUp()"
      >
        <div class="button-container_ter">
          <button
            class="button_ter"
            [class.button_ter_select]="terminalSelectionne === 'PROBLeME'"
            (click)="changerterminal('PROBLeME')"
          >
            PROBLÈME
          </button>
          <button
            class="button_ter"
            [class.button_ter_select]="terminalSelectionne === 'SORTIE'"
            (click)="changerterminal('SORTIE')"
          >
            SORTIE
          </button>
          <button
            class="button_ter"
            [class.button_ter_select]="terminalSelectionne === 'TERMINAL'"
            (click)="changerterminal('TERMINAL')"
          >
            TERMINAL
          </button>
          <button
            class="button_ter"
            [class.button_ter_select]="terminalSelectionne === 'PORTS'"
            (click)="changerterminal('PORTS')"
          >
            PORTS
          </button>

          <button
            class="button_ter"
            [class.button_ter_select]="terminalSelectionne === 'POSTMAN'"
            (click)="changerterminal('POSTMAN')"
          >
            POSTMAN CONSOLE
          </button>
        </div>

        <!-- La deuxième div avec le mot changeant -->

        <div class="interface_ter" *ngIf="terminalSelectionne === 'TERMINAL'">
          PS C:\Users\tomol\OneDrive\Bureau\freelance\forpor> ng serve<br />
          <span class="number"> ✔</span> Browser application bundle generation
          complete.<br />
          <br />
          <div class="table">
            <div class="table-row">
              <div class="table-cell">Initial Chunk Files</div>
              <div class="table-cell">Names</div>
              <div class="table-cell">Raw Size</div>
            </div>
            <div class="table-row">
              <div class="table-cell number">vendor.js</div>
              <div class="table-cell">vendor</div>
              <div class="table-cell variable">4.08 MB</div>
            </div>
            <div class="table-row">
              <div class="table-cell number">polyfills.js</div>
              <div class="table-cell">polyfills</div>
              <div class="table-cell variable">333.17 kB</div>
            </div>
            <div class="table-row">
              <div class="table-cell number">main.js</div>
              <div class="table-cell">main</div>
              <div class="table-cell variable">250.64 kB</div>
            </div>
            <div class="table-row">
              <div class="table-cell number">styles.css, styles.js</div>
              <div class="table-cell">styles</div>
              <div class="table-cell variable">230.50 kB</div>
            </div>
            <div class="table-row">
              <div class="table-cell number">runtime.js</div>
              <div class="table-cell">runtime</div>
              <div class="table-cell variable">6.51 kB</div>
            </div>
          </div>
          <br />
          | Initial Total | 4.88 MB<br />
          <br />
          Build at: 2023-11-21T15:16:31.865Z - Hash: 187f42945e756cae - Time:
          7930ms<br />
          <br />
          ** Angular Live Development Server is listening on localhost:4200,
          open your browser on http://localhost:4200/ **<br />
          <br /><br />
          <span class="number"> ✔</span> Compiled successfully.<br />
        </div>
        <div class="interface_ter" *ngIf="terminalSelectionne === 'PROBLeME'">
          Aucun problème n'a été détecté dans mon code car il parfait
        </div>
        <div class="interface_ter" *ngIf="terminalSelectionne === 'SORTIE'">
          {{ mot }}
        </div>
        <div class="interface_ter" *ngIf="terminalSelectionne === 'PORTS'">
          Aucun port transféré. Transférez moi votre port pour accéder à nos
          services exécutés localement sur internet
          <br />
          <input
            class="port_texte"
            type="text"
            id="texteInput"
            name="texteInput"
            placeholder="Votre texte ici"
          />
          <br /><button
            class="port_bouton"
            type="button"
            onclick="afficherTexte()"
          >
            Transférer un port
          </button>
        </div>
        <div class="interface_ter" *ngIf="terminalSelectionne === 'POSTMAN'">
          no logs yet<br />
          send a request to view its details in the console
        </div>
      </div>
    </div>
    <!-- truc bleu en bas -->
    <div class="bottom-header">
      <ul class="right">
        <li>
          <i>
            <img
              class="terminal_image_v"
              src="./assets/terminal/vert.png"
              alt="Image"
            />
          </i>
        </li>
        <li>
          <i>
            <img
              class="terminal_image_g"
              src="./assets/terminal/git.png"
              alt="Image"
            />
          </i>
        </li>
        <li>
          <img
            class="terminal_image_t"
            src="./assets/terminal/test.png"
            alt="Image"
          />
        </li>
      </ul>
      <ul class="left">
        <li>Ln 24, Col 32</li>
        <li>Spaces: 3</li>
        <li>UTF-8</li>
        <li>CRLF</li>
        <li>HTML</li>
        <li><i class="fa fa-radiation-alt"></i> Port: 5050</li>
        <li>
          <i class="fa fa-bell"></i>
        </li>
      </ul>
    </div>
  </body>
</html>
