<html>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

<body>
      <!-- file edit  -->
    
    <div class="header">
        <div class="logo">
            <img src="logo.svg" alt="">
        </div>
        <ul class="header-menu">
            <li class="header-menu-link">File</li>
            <li class="header-menu-link">Edit</li>
            <li class="header-menu-link">Selection</li>
            <li class="header-menu-link">View</li>
            <li class="header-menu-link">Go</li>
            <li class="header-menu-link">Run</li>
            <li class="header-menu-link">Terminal</li>
            <li class="header-menu-link">Help</li>
        </ul>
        <div class="header-app-icons">
            <ul>
                <li>
                    <i class="fa fa-window-minimize"></i>
                </li>
                <li>
                    <i class="fa fa-window-restore"></i>
                </li>
                <li>
                    <i class="fa fa-times"></i>
                </li>
            </ul>
        </div>
        
    </div>
  <!-- collone droite -->
    <div class="side-header">
        <ul class="side-header-menu">
            <li class="active">
                <i class="fa fa-copy"></i>
            </li>
            <li>
                <i class="fa fa-search"></i>
            </li>
            <li>
                <i class="fa fa-share-alt"></i>
            </li>
            <li>
                <i class="fa fa-play"></i>
            </li>
            <li>
                <i class="fa fa-th-large"></i>
            </li>
        </ul>
        <ul class="side-header-botton-menu">
            <li>
                <i class="fa fa-user-circle"></i>
            </li>
            <li>
                <i class="fa fa-cog"></i>
            </li>
        </ul>
    </div>
      <!-- collone -->
    <div class="menu-option">
      <h5>EXPLORER</h5>
      <div class="menu-drop">
          <div class="box-click">
              <i class="fa fa-chevron-down"></i> <span>OPEN EDITORS</span>
              <div class="show-pre">
                  <ul>
                      <li class="active"><i class="fab fa-html5"></i> <span>index.html</span> </li>
                      <li><i class="fab fa-css3-alt"></i> <span  > main.html </span></li>
                      <li><i class="fab fa-js"></i> <span> main.js </span></li>
                  </ul>
              </div>
          </div>
      </div>
      <hr>
    
      <div class="menu-drop">
          <div class="box-click">
              <i class="fa fa-chevron-down"></i> <span>VSCODE</span>
              <div class="show-pre">
                  <ul>
                      <li><i class="fa fa-chevron-right"></i> <span>css </span></li>
                      <li><i class="fa fa-chevron-right"></i> <span>webfonts </span></li>
                      <li><i class="fab fa-html5"></i> <span>index.html </span></li>
                      <li><i class="fab fa-css3-alt"></i> <span>main.html </span></li>
                      <li><i class="fab fa-js"></i> <span>main.js </span></li>
                  </ul>
              </div>
          </div>
      </div>

      
  </div>
  <div class="pourcode">
  <div class ="onglet">
    <p>toto</p>
</div>
  <div class ="code">
      <p>toto</p>
  </div>
  <div class ="terminal">
    <p>toto</p>
</div>
</div>
  <!-- truc bleu en bas -->
    <div class="bottom-header">
        <ul class="right">
            <li>
                <i class="fa fa-times-circle"></i>
            </li>
            <li>
                <i class="fa fa-exclamation-triangle"></i>
            </li>
        </ul>
        <ul class="left">
            <li>
                Ln 24, Col 32
            </li>
            <li>
                Spaces: 3
            </li>
            <li>
                UTF-8
            </li>
            <li>
                CRLF
            </li>
            <li>
                HTML
            </li>
            <li>
                <i class="fa fa-radiation-alt"></i> Port: 5050
            </li>
            <li>
                <i class="fa fa-bell"></i>
            </li>
        </ul>
    </div>


</body>
</html>