h1{
  font-size: 100px;
align-items: center;
text-align: center;
}
h2{
  font-size: 80px;
}
.images-container {
  display: flex;
  justify-content: space-between;
}
h3{
  font-size: 60px;
}
p{
  font-size: 60px;
} 
.imgpro{
  width: 50%;
  display: block;
  margin: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 50px;
}
.tooltip {
  position: absolute;
  background-color: #f2b6b6;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 30px;
  z-index: 1000; /* Assure que le tooltip est au-dessus des autres éléments */
}
.progress-container {
  width: 100%;
  border: 3px solid #000;
  margin: 20px 0;
}

.progress {
  background-color: #8af08e;
  color: #0a0202;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  transition: width 0.3s;
}

.course {
  background-color: yellow; /* Choisissez la couleur de fond que vous préférez */
}
.velo {
  background-color: rgb(0, 255, 94); /* Choisissez la couleur de fond que vous préférez */
}
.piscine {
  background-color: rgb(0, 195, 255); /* Choisissez la couleur de fond que vous préférez */
}
.street {
  background-color: rgb(246, 154, 165); /* Choisissez la couleur de fond que vous préférez */
}
.green-column {
  background-color: rgb(149, 231, 149);
  color: rgb(0, 0, 0); 
}
