<H1> Contact </H1>

<div class="container">
  <div class="item">
    <p>Telephone</p> 
    <p>__0786967973</p>
  </div>
    <div class="item">
      <p>Instagram</p>
      <a href="https://www.example.com" target="_blank">
      <img src="./assets/instagram.png" alt="Image 1" class="immg" >
    </a>
      <p>&lt;-Cliquez ici </p>
    </div>
    <div class="item">
      <p>Cliquez ici -></p>
      <a href="https://www.linkedin.com/in/tom-pascal-olivier/" target="_blank">
        <img  src="./assets/linkedin.png" alt="Image 1" class="immg">
      </a>
        <p>Linkedin</p>

    </div>
    <div class="item">
      <p>Mail</p>
      <img  src="./assets/mail.png" alt="Image 1" class="immg">
      <p>tomolivierpro@gmail.co</p>
    </div>
  </div>
  