

<h1> tp -semestre2 </h1>
<h1> découverte des framework angular, react, vuejs </h1>
<div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <img   class=" img"src="./assets/angular.png" alt="Image 1">
    </div>
    
    <div class="box">
      <!-- Contenu de la deuxième boîte -->
      <h2>Problématique :</h2>
      <p>
                  <br>
                  Au cours du premier semestre de mon Master 1, j'ai entrepris un projet
                   passionnant axé sur la création d'une application d'administration scolaire
                    intégrant les frameworks React, Vue, et Angular. L'objectif principal était
                     de mettre en pratique les connaissances théoriques acquises dans le cadre du
                      programme en explorant les fonctionnalités de ces frameworks populaires. En se
                       penchant sur des concepts avancés tels que la gestion d'état, le routage, et les 
                       composants réutilisables, ce projet a été une opportunité essentielle pour consolider 
                       mes compétences en développement web et pour relever les défis spécifiques liés à la 
                       création d'une interface utilisateur dynamique et réactive.    </div>
  </div>
  <div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <h2>fonctionnalités  :</h2>
      <p>
        <br>
       
        Mon projet d'application d'administration scolaire a été enrichi de
         fonctionnalités destinées à améliorer l'expérience utilisateur et à 
         mettre en avant les aspects pratiques des frameworks React, Vue, et
          Angular. Un mode multifenêtres a été intégré pour permettre aux utilisateurs 
          de naviguer facilement entre les différentes sections de l'application, illustrant 
          ainsi la flexibilité et la modularité offertes par ces frameworks. De plus, des 
          fonctionnalités de gestion d'étudiants, de notes, et de communication entre enseignants 
          et étudiants ont été implémentées pour démontrer la puissance et la facilité d'utilisation
           de ces technologies 
    </div>
    
    <div class="box">
      <img   class=" img"src="./assets/vuejs.png" alt="Image 1">
      <!-- Contenu de la deuxième boîte -->
      
    </div>
  </div>
  <div class="container">
    <div class="box">
        <img   class=" img"src="./assets/backangularvuejs.png" alt="Image 1">
        <!-- Contenu de la deuxième boîte -->
        
      </div>
    <div class="box">
      <!-- Contenu de la première boîte -->
      <h2>backend :</h2>
      <p>
        <br>
        Concernant la liaison avec le backend, cela était le projet du semestre 1 réalisé avec un framework PHP.
        <br>
             <h2>Technologies Utilisées :</h2> <p>
              <br>
              Frontend : angular,vuejs.<br>
             backend: php
              Base de Données : Mysql pour stocker les informations.<br>
              <br>
              Lien vers le Code Source : 
              <a href="https://github.com/oliveur83/RIA--angular-vuejs">Lien</a>
    </div>
    
  
  </div>