.container {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
  }
  h1{
    font-size: 70px;
    text-align: center;
  }
  .item {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #000;
  }
p{
  font-size: 80px;
}
.immg{ 
  width: 300px;
  height: 300px;
}