

<h1> projet tutauré- Master1</h1>
<h1> gestion emploie du temps  </h1>
<div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <img   class=" img"src="./assets/emploie.png" alt="Image 1">
    </div>
    
    <div class="box">
      <!-- Contenu de la deuxième boîte -->
      <h2>Contexte :</h2><p>
                  <br>
        Au cours de mon année de Master 1, j'ai eu l'opportunité de
         concevoir et de développer une application web complète dédiée
          à la gestion de l'emploi du temps pour une université. Ce projet 
          visait à simplifier et à optimiser la planification des cours, la 
          gestion des enseignants, des salles de cours, et des événements
           académiques.<br>
           Fonctionnalités Principales :
           <br>
           -CRUD (Create, Read, Update, Delete) Événements, salle ,ue <br>
           -Vue Calendrier Intuitive <br>
            - generation automatique d'emploie du temps pour une filière<br>
            -constitution du cachier des charges , UML<br>
          </div>

  </div>
  <div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <h2>Technologies Utilisées :</h2> <p>
          <br>
          Frontend : HTML, CSS, JavaScript.<br>
          Backend : structure MVC.<br>
          Base de Données : Mysql pour stocker les informations.<br>
          <br>
          Lien vers le Code Source : 
          <a href="https://github.com/oliveur83/M1EDT">Lien</a>
  <br>
        <br>
        <h2>Rôle de Chef de Projet :</h2><p>
        <br>
        En tant que chef de projet, j'ai assumé les responsabilités suivantes :
        <br>
            Coordination de l'équipe de développement.<br>
            Planification des tâches et gestion du calendrier de livraison.<br>
            Communication avec les parties prenantes pour comprendre les besoins et les exigences.<br>
            Résolution des problèmes et prise de décisions stratégiques pour assurer le succès du projet.<br>
    </div>
    
    <div class="box">
      <img   class=" img"src="./assets/emploie2.png" alt="emploie2">
      <!-- Contenu de la deuxième boîte -->
      
    </div>
  </div>