.baredubas {
  align-items: center;
    background-color: rgb(23, 79, 105); 
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  } 
  .content_left {
    flex: 1; /* La classe "content_left" prend le reste de l'espace disponible */
  }
  #container {
    margin-right: 500px;
    width: 90%;
    height: 300px;
    background-color: rgb(196, 228, 244);
  }
  .box_du_haut {
    display: flex;
  }
  .mode_dev {
    font-size: 50px; /* Ajustez la taille du texte selon vos besoins */
  } 
  .ma-classe {
    width: 20%; /* Définissez la largeur souhaitée en pourcentage */
    height: 30%; /* Laissez la hauteur automatique pour conserver les proportions */
  } 
  .menu-princ {
    display: flex;
    justify-content: center;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    
  }
  select {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 30px; 
  }
  
  .menu-button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 30px; /* Taille de police plus grande */
    font-weight: bold;
    color: aliceblue;
  }
 
  
  .menu-item img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    object-fit: cover;
  }
  
  .menu-image-round {
    border-radius: 50%;
  }
  
  .switch {
    
    position: relative;
    margin-bottom: 100px;
  }
  
  .switch input {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
  }
  
  .switch label {
    height: 110px;
    width: 220px;
    background-color: #39315a;
    border-radius: 100px;
    display: block;
    box-shadow:
      inset 0 0 20px rgba(0, 0, 0, 0.2),
      inset 0 0 5px -2px rgba(0, 0, 0, 0.4);
  }
  
  .switch label .bulb {
    height: 90px;
    width: 90px;
    background-color: #4a426b;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 10px;
    display: block;
    transition: 0.3s;
    box-shadow:
      inset 0 0 1px 3px #4a426b,
      inset 0 0 6px 8px #423963,
      0 20px 30px -10px rgba(0, 0, 0, 0.4);
  }
  
  .switch label .bulb .bulb-center {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    background-color: #5a527b;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: 0.3s;
    transform: translate(-50%, -50%);
    box-shadow:
      inset 0 0 0 4px #635a84;
  }
  
  .switch label .bulb .bulb-center:after {
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    background-color: #7b7394;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px 4px #524a73;
  }
  
  .switch label .bulb .filament-1,
  .switch label .bulb .filament-2 {
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .switch label .bulb .filament-1:after,
  .switch label .bulb .filament-1:before,
  .switch label .bulb .filament-2:after,
  .switch label .bulb .filament-2:before {
    content: "";
    display: block;
    height: 6px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid #4a426b;
    position: absolute;
    transition: 0.3s;
    top: -4px;
    left: -2px;
    transform: rotate(-10deg);
  }
  
  .switch label .bulb .filament-1:before,
  .switch label .bulb .filament-2:before {
    left: 15px;
    transform: rotate(10deg);
  }
  
  .switch label .bulb .filament-2 {
    transform: translate(-50%, -50%) rotate(45deg) !important;
  }
  
  .reflections {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 90;
    perspective: 70px;
  }
  
  .reflections span {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: linear-gradient(-135deg, transparent 10%, rgba(255, 255, 255, 0.3));
    position: absolute;
    left: -40px;
    bottom: -45px;
  }
  
  