<!-- projets.component.html -->

<div class="row" *ngFor="let projetRow of projets | slice:0:projets.length">
  <div class="item" *ngFor="let projet of projetRow" (click)="open_projet(projet)">
      <div class="project-container">
          <img class="imgpro" [src]="projet.imgSrc" alt="Project Image" />
          <div class="overlay"></div>
          <div class="project-details">
              <h1 id="titreprojet" class="titre">{{ projet.titre }}</h1>
          </div>
      </div>
  </div>
</div>
