<body>
  <p id="devise">
    "Dans chaque ligne de code, je fusionne innovation et<br>
     passion pour sculpter votre succès. Bienvenue dans mon <br>
     portfolio, où chaque projet est une aventure vers l'excellence.
     "  </p>

  <br><br><br><br><br>
  <h1>Navigation</h1>
  <div class="menu-princ">
    <div class="menu-item">
      <img
        (click)="profil()"
        src="./assets/photo_profil.jpg"
        alt="Image 1"
        class="menu-image-round"
      />
      <button (click)="profil()" class="menu-button">Profil</button>
    </div>
    <div class="menu-item">
      <img
        (click)="projet()"
        src="./assets/projet.png"
        alt="Image 2"
        class="menu-image-round"
      />
      <button (click)="projet()" class="menu-button">Projets</button>
    </div>
    <div class="menu-item">
      <img
        (click)="contact()"
        src="./assets/contact.jpg"
        alt="Image 2"
        class="menu-image-round"
      />
      <button (click)="contact()" class="menu-button">Contacte</button>
    </div>
  </div>
  <h1>Mes projets</h1>
  <div class="projetemplacemment">
    <button class="button" (click)="navigate('left')">&lt;</button>

    <div class="divprojet">
      <div *ngIf="currentContent === 'A'">
        <img class="imgpro" src="./assets/emploie.png" alt="Image" />
        <h1 id="titreprojet">Emploi du temps</h1>
        <p id="paraprojet">
          Projet réalisé en master-<br />
          Création d'une application<br />
          web de gestion et visualition d'emploi du<br />
          temps<br />
        </p>
      </div>
      <div *ngIf="currentContent === 'B'">
        <img class="imgpro" src="./assets/aed.png" alt="Image" />
        <h1 id="titreprojet">Aedificantes</h1>
        <p id="paraprojet">
          Mission freelance-<br />
          Amélioration du site en fonction des exigences <br />
          du client et resolution de bugs au niveaux de la traduction <br />
        </p>
      </div>
      <div *ngIf="currentContent === 'C'">
        <img  class="imgpro"src="./assets/angular.png" alt="Image" />
        <h1 id="titreprojet">Projet angular & vuejs</h1>
        <p id="paraprojet">
          Projet réaliser en master-<br />
          Réalisation d'un environnement pour la gestion <br />
          de cours,note, emploie réaliser sur les deux framework.<br />
        </p>
      </div>
    </div>

    <button class="button" (click)="navigate('right')">&gt;</button>
  </div>

  <!--- bare de menu  -->

  <!--- bare du bas -->
</body>
