<div class="container">
  <h1>Contact</h1>

  <div class="item">
    <p class="paragraph">Téléphone </p>
    <p class="paragraph">0786967973</p>
  </div>

  <div class="item">
    <p>Instagram</p>
    <a href="https://www.example.com" target="_blank">
      <img src="./assets/instagram.png" alt="Instagram" class="immg">
    </a>
    <p><a href="https://www.example.com" target="_blank">Cliquez ici -></a></p>
  </div>

  <div class="item">
    <p><a href="https://www.linkedin.com/in/tom-pascal-olivier/" target="_blank">Cliquez ici -></a></p>
    <a href="https://www.linkedin.com/in/tom-pascal-olivier/" target="_blank">
      <img src="./assets/linkedin.png" alt="LinkedIn" class="immg">
    </a>
    <p>LinkedIn</p>
  </div>

  <div class="item">
    <p>Mail</p>
    <img src="./assets/mail.png" alt="Mail" class="immg">
    <p>tomolivierpro@gmail.co</p>
  </div>

</div>