

<h1> tp -master 2 </h1>
<h1> utiiser de IA dans un jeu  </h1>
<div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <img   class=" img"src="./assets/oxi.png" alt="Image 1">
    </div>
    
    <div class="box">
      <!-- Contenu de la deuxième boîte -->
      <p>Problématique :
                  <br>
        Au cours du premier semestre de mon Master 1, j'ai entrepris un
         projet captivant où j'ai développé un jeu de dames intégrant 
         une intelligence artificielle. L'objectif principal était d'appliquer 
         les concepts théoriques acquis dans le cadre du programme en utilisant
          des algorithmes sophistiqués tels que l'algorithme minimax avec élagage
           alpha-bêta. Cette expérience m'a permis de consolider mes compétences 
           en programmation tout en explorant les défis spécifiques liés à la 
           création d'un jeu stratégique avec une composante d'IA. Ce projet a été
            une étape significative dans mon parcours académique, illustrant ma
             capacité à concilier théorie et pratique de manière efficace.    </div>
  </div>
  <div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <p>fonctionnalités  :
        <br>
        Mon jeu de dames avec intelligence artificielle a été
         enrichi de plusieurs fonctionnalités visant à améliorer
          l'expérience utilisateur et à accentuer les aspects stratégiques 
          du jeu. Un mode multijoueur a été intégré, offrant aux joueurs
           la possibilité de défier leurs amis ou d'autres adversaires en
            ligne, tout en renforçant l'aspect social du jeu. Parallèlement, 
            un mode ordinateur a été introduit, permettant aux utilisateurs de
             jouer contre une IA compétente, offrant ainsi une expérience solo 
             captivante.
    </div>
    
    <div class="box">
      <img   class=" img"src="./assets/oxi.png" alt="Image 1">
      <!-- Contenu de la deuxième boîte -->
      
    </div>
  </div>