

<h1> hackaton -2022 </h1>
<h1> défis EDF </h1>
<div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <img   class=" img"src="./assets/principal.png" alt="Image 1">
    </div>
    
    <div class="box">
      <!-- Contenu de la deuxième boîte -->
      <h2>Problématique :</h2>
      <p>
                  <br>
        La mobilité électrique est un enjeu fort pour EDF, aujourd’hui et
         pour les années à venir. Les infrastructures du réseau électrique 
         vont être de plus en plus sollicitées par les usages liés à la recharge 
         et le comportement des utilisateurs de véhicules électriques est important 
         pour la bonne réussite de la transition énergétique. A travers ce défi,
          nous souhaitons sensibiliser les usagers à ces problématiques, pour 
          qu’ils prennent conscience de l’importance du pilotage de la recharge 
          des véhicules électriques en réalisant un jeu autour de ce thème.</p>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <!-- Contenu de la première boîte -->
      <h2>fonctionnalités  :</h2>
      <p>
        <br>
        Plusieurs fonctionnalités ont été ajoutées à ce projet pour le
         rendre plus ludique. Un mode multijoueur et un mode ordinateur ont
          été intégrés, permettant la personnalisation des véhicules avec
           différents attributs tels qu'une recharge plus rapide. Enfin, ce 
           jeu possède des statistiques de partie pour évaluer la gestion de
            l'électricité, que ce soit en termes de recharge ou de déplacement.
             Ces statistiques sensibiliseront davantage à l'importance d'une
              gestion efficace de l'énergie.</p>
              <h2>Technologies Utilisées :</h2> <p>
                <br>
                Frontend : HTML, CSS, JavaScript.<br>
               
                Base de Données : Mysql pour stocker les informations.<br>
                <br>
                Lien vers le Code Source : 
                <a href="https://github.com/Tess-abkari/hakathon_Equipe_de_puissance">Lien</a>
        <br>
    </div>
    
    <div class="box">
      <img   class=" img"src="./assets/plateau.png" alt="Image 1">
      <!-- Contenu de la deuxième boîte -->
      
    </div>
  </div>